#masthead {
margin:0 0 10px 0;
padding:10px;
border:1px solid #0000FF;
}
#image{
margin:0 0 10px 0;
/*padding:10px;*/
border:1px solid #000;
}
#content {
margin-left:22%;
margin-right:18%;
margin-bottom:10px;
padding:10px;
/*border:2px solid #00CC33;*/
}
#sidebar_a {
float:left;
width:20%;
margin-bottom:10px;
padding:10px;
}
/* Sidebar B */
#sidebar_b {
float:right;
width:15%;
margin-bottom:10px;
padding:10px;
}
#Col2{
margin-right:75%;
border:2px solid #0000FF;
/*float:left;*/
}
#Col3{
float:right;
margin-left:25%;
}
.bod1{
border:2px solid #FF0000;
}
#new {
/*margin-left:17%;
margin-right:18%;
margin-bottom:10px;
padding:5px;*/
border:2px solid #00CC33;
}
#story{
/*margin-left:17%;
margin-right:18%;
margin-bottom:10px;
padding:5px;*/
border:2px solid #00CC33;
}
#Events{
border:2px solid #00CC33;
}
.bod{
border:2px solid #00CC33;
}
.head{
background-color:#cccccc;
}
#hid{
display:none;
}